@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;0,900;1,400&display=swap');

:root {
  --white: #ffffff;
  --white-input: #DADADA;
  --gray-placeholder: #8D899B;
  --gray-sucess: #57677E;
  --gray-background: #35455C;
  --blue-link: #41DFFF;
  /* --blue-button-hover: #3AB4CC; */
  --blue-button-hover: #8DECFF;
  --black: #242424;

  --color-linear-start: #FFFFFF;
  --color-linear-end: #9674FF;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  
  font-family: Poppins;

  background-color: var(--gray-background);
}

.main .logo {
  display: flex;
  flex-direction: row;

  align-items: center;

  color: var(--white);
  font-weight: 700;
  font-size: 12pt;
}

.main img {
  width: 72px;
  height: 72px;
}

.main .logo:hover {
  cursor: default;
}